<div class="header">

    <h1 class="page-title">新增用户</h1>
    <li class="menuli"><a ui-sref="main.users" href="">用户列表</a></li>
    <li class="menuli active">新增</li>

</div>
<div class="main-content">

    <ul class="nav nav-tabs">
        <li class="active"><a href="javascript:;">用户信息</a></li>
    </ul>

    <div class="">
        <div class="">
            <br>
            <form id="myForm">
                <table class="table-condensed myTable">
                    <tr>
                        <th width="15%"></th>
                        <th width="30%"></th>
                        <th width="15%"></th>
                        <th width="30%"></th>
                    </tr>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="username" class="form-control" ng-model="userFormData.userName"></td>
                        <td>工号：</td>
                        <td><input type="text" name="employeeId" class="form-control" ng-model="userFormData.employeeId"></td>
                    </tr>
                    <tr>
                        <td>登录账号：</td>
                        <td><input type="text" name="userAccount" class="form-control" ng-model="userFormData.userAccount"></td>
                        <td>密码：</td>
                        <td><input type="text" name="userPwd" class="form-control" ng-model="userFormData.userPwd"></td>
                    </tr>
                    <tr>
                        <td>手机号：</td>
                        <td><input type="text" name="phone" class="form-control" ng-model="userFormData.phone"></td>
                        <td>角色：</td>
                        <td>
                            <select class="form-control" name="userRole">
                                <option>总经理</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <td col colspan="2"></td>
                        <td colspan="2">
                            <button class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>
                        </td>
                    </tr>
                </table>

            </form>
        </div>
    </div>
</div>
